.u-section-1 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-1 .u-list-1 {
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 73px 73px;
  grid-template-columns: calc(50% - 36.5px) calc(50% - 36.5px);
  min-height: 814px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-1 {
  margin: 18px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 39px;
  width: 304px;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 18px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 39px;
  width: 304px;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 18px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 39px;
  width: 304px;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 18px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-4 {
  margin: 18px auto 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 39px;
  width: 304px;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 18px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-5 {
  margin: 18px auto 0;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 39px;
  width: 304px;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 18px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-6 {
  margin: 18px auto 0;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 39px;
  width: 304px;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 18px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  margin: 79px 205px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.25rem;
  margin: -50px auto 60px 205px;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 689px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 154px;
    padding-left: 28px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 44px 44px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 1px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 44px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 20px;
  }
}