.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 47px 15px 0 834px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -96px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 73px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-block-6f7a-115 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 72px;
    margin-right: 49px;
    margin-left: 643px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -169px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 110px;
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -166px;
    margin-right: 229px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 162px;
    margin-right: 270px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -209px;
    margin-right: 172px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 115px;
    margin-right: 71px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -180px;
    margin-right: auto;
  }

  .u-section-1 .u-table-1 {
    margin-top: 161px;
  }
}