<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/charge' method='GET' id='checkout-form'>
  <input type='hidden' th:value='${amount}' name='amount' />
  <label>Price:<span th:text='${amount/100}' /></label>

  <script
          src='https://checkout.stripe.com/checkout.js'
          class='stripe-button'
          th:attr='data-key=${stripePublicKey},
         data-amount=${amount},
         data-currency=${currency}'
          data-name='Danc Macabre'
          data-description='You will recieve the email immediately'
          data-image
                  =''
          data-locale='auto'
          data-zip-code='false'>
  </script>
</form>
</body>
</html>